<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
  text-align: center;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Roboto";
  background-color: white;
}

.main-heading {
  font-size: 40px;
}
.secondary-heading {
  font-size: 20px;
}
.photo {
  widows: 300px;
  height: 300px;
}
.paragraph {
  font-size: 14px;
  color: black;
}
.dashboard-container {
  margin: 20px;
  display: flex;
}
.dashboard-profile {
  flex-grow: 1;
}

.dashboard-content {
  flex-grow: 2;
}
=======
>>>>>>> master
